<!-- Content Heading -->
<% if (title) { %>
<h1>
  <%= title %>
</h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<!-- input form 1 -->
<div class="update-form">
  <form class="basic-information-form" action="/account/update/basic" method="post" id="basicForm">
    <fieldset>
      <legend>Basic Information - All Fields Required</legend>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="account_firstname" required value="<%= locals.accountData.account_firstname %>">
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="account_lastname" required value="<%= locals.accountData.account_lastname %>">
      <label for="email">Email:</label>
      <input type="email" id="email" name="account_email" required placeholder="Enter a valid email address" value="<%= locals.accountData.account_email %>">
    </fieldset>
    <button type="submit" id="basic-button" disabled>Update Basic Information</button>
    <input type="hidden" name="account_id" <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>" <% } %>>
  </form>

  <form class="password-form" action="/account/update/password" method="post" id="passwdForm">
    <fieldset>
      <legend>Change Password</legend>
      <p>Passwords must be at least 12 characters and contain at least 1 capital letter, 1 number and 1 special character. </p>
      <p>Important: by entering a password, the old one will be replaced.</p>
      <label for="password">Password:</label>

      <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
      <span id="pswdBtn">Show Password</span>
    </fieldset>
    <button type="submit" disabled id="passwd-button">Change Password</button>
    <input type="hidden" name="account_id" <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>" <% } %>>
  </form>
</div>
<script src="/js/account-update.js"></script>